@charset "UTF-8";

/**	
 *
 *  青春頌 website - layout
 *  
 *  font-face ---------- 字體
 *      tools ---------- 單一屬性class
 *      theme ---------- 背景主題
 *     header ---------- 頁首
 *        nav ---------- 主選單
 *  animation ---------- 轉場動作
 *     footer ---------- 頁尾

 *      state ---------- 動態效果
 * 
 */

body {
	overflow-x: hidden;

}
body.hid {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
}

/**
 *  
 *  font-face
 *
 */



/**
 *
 *  tools
 * 
 */


.cl-red {
	color: #e41673;
}

.flit-blur {
    -webkit-filter:blur(3px);
    filter:blur(3px);

}

.basic-wrp {
	position: relative;
	width: 87.5%;
	margin: 0 auto;
}

.cf::before,
.cf::after {
    content: " ";
    display: table;
}
.cf::after {
    clear: both;
}

@media only screen and (min-width: 460px) and (max-width: 767px) {
   
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   
}

@media only screen and (min-width: 1024px) {
    .basic-wrp {
		width: 966px;
	}
	.header .basic-wrp {
  		width: 100%;
  		max-width: 1024px;
    }
}

@media only screen and (min-width: 1280px) {
    /*.basic-wrp {
		width: 1024px;
	}*/
}

/**
 *
 *  theme
 * 
 */

.th-title {
	width: 100vw;
	background-image: url('../image/mb-theme.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: scroll;
	z-index: 99;
}
.th-video {
	width: 100vw;
	background-image: url('../image/main-theme.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 1920px 860px;
	background-attachment: scroll;
}
.th-intro {
	background: url('../image/index/index-main--top.png') left top no-repeat, url('../image/index/index-main--btm.png') right bottom no-repeat;
	background-size: 254px auto, 158px 37px;
	padding: 140px 0 70px;
}
.th-intro-sign {
    background: url('../image/index/index-main--top.png') left top no-repeat, url('../image/index/index-main--btm.png') right bottom no-repeat;
	background-size: 254px auto, 158px 37px;
	padding: 70px 0 70px;
}


.th-link {
	background-image: url('../image/index/footer.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
}

.th-news {
	background: url('../image/mb-theme.jpg') center top no-repeat, url('../image/mb-extendbg.jpg') left top repeat-y;
	background-size: contain;
	background-attachment: fixed;
}
@media only screen and (min-width: 460px) and (max-width: 1023px) {
   .th-news {
		background-size: cover;
	}
}
@media only screen and (min-width: 1024px) {
    .th-news {
    	background-image: url('../image/main-theme.jpg');
		background-size: cover;
	}
	.th-title {
        background-image: url('../image/main-theme.jpg');
		background-size: 1920px 860px;
	}
	.th-intro {
		background: url('../image/index/index-main--top.png') left top no-repeat, url('../image/index/index-main--btm.png') right bottom no-repeat;
		background-size: 508px 125px, 296px 74px;
		padding: 204px 0 102px;
	}
	.th-intro-sign {
	    background: url('../image/index/index-main--top.png') left top no-repeat, url('../image/index/index-main--btm.png') right bottom no-repeat;
		background-size: 508px 125px, 296px 74px;
		padding: 108px 0;
	}
	.th-intro.th-intro--cn {
		padding: 155px 0 100px;
	}
}
@media only screen and (min-width: 1921px) {
	.th-title, .th-video  {
		background-size: cover;
	}
}



/**
 *
 *  header
 * 
 */

    .header {
    	position: fixed;
    	left: 0;
    	text-align: center;
    	overflow: hidden;
    	background-color: rgba(255,255,255,0.9);
    	box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.25);
    	height: 90px; 
    	width: 100%;
    	z-index: 999;
    }
       
    .hid .header {
	    
	}
        .header .basic-wrp {
        	display: flex;
	        justify-content: space-between;
	  		align-items: center;
	  		height: 100%;
        }
    
	        .header .mb-headerbg {
	        	width: 0;
	        	height: 100%;
	        	background: #fff url('../image/header/mb-btmline.jpg') no-repeat center bottom;
				background-size: contain;
	        	position: absolute;
	        	left: 0;
	        	top: 0;
	        	z-index: -1;
	        	transition: width .5s ease-in-out;
	        }
	        .header.mb-logopen .mb-headerbg, .header.mb-navopen  .mb-headerbg {
		    	width: 100%;
		    }
		    .header .brand {
		    	display: flex;
		    	flex-direction: column;
		    	background: url('../image/header/brand-tw.png') no-repeat left center;
		    	background-size: contain;
	            width: 56.9%;
		    	max-width: 15.5rem;
		    	height: 100%;
		    }
		    .header .brand.brand-cn {
		    	background: url('../image/header/brand-cn.png') no-repeat left center;
		    	background-size: contain;
		    }
		        .header .brand a {
		        	width: 100%;
		        	height: 100%;
		        	display: block;
		        }
		    .header .header-btn {
		    	position: fixed;
		    	display: block;
		    	top: 90px;
		    	height: 100vh;
		    	width: 100%;
		    	background-color: #fff;
		    	left: -100%;
		    	transition: left .5s ease-in-out;
		    } 
	        .header.mb-logopen .header-btn.active {
	        	left: 0;
	        }	        
		        .btn-group {
		        	width: 100%;
					position: relative;
					text-align: left;
					padding: 0.8125rem 0 0.25rem 6.25%;
					font-size: 2rem;
					font-weight: 500;
					line-height: 1.714;
					background: url('../image/header/mb-btmline.jpg') no-repeat center bottom;
					background-size: contain;
		        }
        



        /* 手機登入按鈕 */
        
        .mb-btn {
        	display: flex;
        	align-items: center;
        }
	    .mb-login, .mb-nav {
	    	display: flex;
	    	flex-direction: column;
  			justify-content: space-between;
	    }
	    .mb-login.dpn, .mb-nav.dpn {
	    	visibility: hidden;
	    }
	    .mb-login {
	    	margin-right: 5px;
            font-size: 14px;
            color: #fff;
            border-bottom: none;
            font-weight: 500;
            line-height: 1;
	    	background-color: #036eb6;
	        padding: 0.25rem 0.4rem;
	        margin-right: 1rem;
	    }
        
        /* 手機登入漢堡 */

	    .nav-burguer {
		  width: 40px;
		  height: 22px;
		  cursor: pointer;
		}
		    .nav-burguer--small {
			  width: 31px;
			  height: 17px;
			  cursor: pointer;
			}

		.nav-line {
		  height: 4px;
		  background-color: #4d4d4d;
		  border-radius: 2px;
		  transition: all 250ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
		}

		.nav-line:first-child {
		  animation: firstLinetoClose 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
		}

		.mb-navopen .nav-line:first-child {
		  animation: firstLinetoOpen 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
		  animation-fill-mode: forwards;
		}

		@keyframes firstLinetoOpen {
		  0%   {
		    transform: translateY(0);
		  }

		  50% { 
		    transform: translateY(6px);
		  }

		  100% {
		    transform: translateY(9px) rotate(45deg);
		  }
		}

		@keyframes firstLinetoClose {
		  0%   {
		    transform: translateY(9px) rotate(0);
		  }

		  100% {
		    transform: translateY(0);
		  }
		}

		.mb-navopen .nav-line:nth-child(2){
		    opacity: 0;
		}

		.nav-line:last-child {
		    animation: lastLinetoClose 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);  
		}

		.mb-navopen .nav-line:last-child {
		    animation: lastLinetoOpen 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
		    animation-fill-mode: forwards;
		}

		@keyframes lastLinetoOpen {
		  0%   {
		    transform: translateY(0);
		  }

		  50% {
		    transform: translateY(-6px);
		  }

		  100% {
		    transform: translateY(-9px) rotate(-45deg);
		  }
		}

		@keyframes lastLinetoClose {
		  0%   {
		    transform: translateY(-9px);
		  }

		  100% {
		    transform: translateY(0);
		  }
		}



    @media only screen and (min-width: 460px) and (max-width: 1023px) {
	    

	}


	@media only screen and (min-width: 1024px) {
		.header {
			height: 146px;
			transition: all .5s cubic-bezier(.01,1.41,.5,1);
		}
		    .header.scrolldown {
		    	height: 100px;
		    }
			.header .basic-wrp {
		        justify-content: space-around;
	        }
		.mb-btn {
	    	display: none;
	    }
	    .header .brand {
	    	width: 31.93%;
	    	height: 6rem;
	    	max-width: 18.375rem;
	    }
	        .header.scrolldown .brand {
	        	background: url('../image/header/brand-tw.png') no-repeat center center;
	        	background-size: 87% auto;
	        }
	        .header.scrolldown .brand.brand-cn {
	        	background: url('../image/header/brand-cn.png') no-repeat center center;
	        	background-size: 87% auto;
	        }
	    .header .header-btn {
	    	display: inline-block;
	    	vertical-align: middle;
	    	position: relative;
	    	padding-left: 2.2rem;
	    	top: 0.7rem;
	    	height: auto;
	    	width: auto;
	    	left: 0;
	    	background-color: transparent;
	    }
		    .btn-group {
	        	display: inline-block;
	        	width:  auto;
	        	text-align: center;
	            margin-right: 5px;
	            font-size: 0.8125rem;	
	            color: #fff;
	            border-bottom: none;
	            font-weight: 500;
	            line-height: 1;
	            background-image: none; 
	        }
	        .btn-group.btn-login {
	        	background-color: #036eb6;
	        	padding: 0.25rem 0.4rem;
	        }
	        .btn-group.btn-trad {
	            background-color: #727171;
	            padding: 0.25rem;
	        }
	        .btn-group.btn-simp {
	            background-color: #9d9e9e;
	            margin-right: 0;
	            padding: 0.25rem;
	        }
	}

	

/**
 *
 *  navs
 * 
 */
    
    .nav {
    	position: fixed;
    	display: block;
    	top: 90px;
    	height: 100vh;
    	width: 100%;
    	background-color: #fff;
    	left: -100%;
    	transition: left .5s ease-in-out;
    }
        .mb-navopen .nav.active {
        	left: 0;
        }
		.nav-wrp {
			list-style-type: none;
			margin: 0;
			height: 100%;
			clear: left;
		}
		    .nav-wrp .nav-unit { 
				float: left;
				width: 100%;
				position: relative;
				text-align: left;
				padding: 0.8125rem 0 0.25rem 6.25%;
				background: url('../image/header/mb-btmline.jpg') no-repeat center bottom;
				background-size: contain;
				display: flex;
				justify-content: flex-start;
				align-content: center;
				flex-direction: row;
				display: -webkit-flex;
				-webkit-justify-content: flex-start;
				-webkit-align-content: center;
				-webkit-flex-direction: row;
				font-size: 2rem;
    			line-height: 1.714;
			}
			    .nav-color-bg {
			    	width: 100%;
			    	height: 100%;
			    	position: absolute;
			    	top: 0;
			    	left: 0;
			    }
			    
			    .nav-unit .basic-text {
			    	width: 100%;
			    	height: 100%;
			    	position: absolute;
			    	top: 0;
			    	left: 0;
			    	background-color: transparent;
			    	z-index: 3;
			    	
			    }
			    .nav-unit .basic-text:hover {
                    display: block;
		        	color: #ff0000;
		        }
		        .nav-unit .fa {
                    opacity: 0;
                    display: none;
		        }


	@media only screen and (min-width: 460px) and (max-width: 767px) {
		.nav {
			height: calc(100vh - 90px);
			overflow-y: scroll;
		}
		.nav-wrp {
			height: auto;
		}
	}	         

    @media only screen and (min-width: 460px) and (max-width: 1023px) {
	    
	}

	@media only screen and (min-width: 768px) and (max-width: 1023px) {
	    
	}

	@media only screen and (min-width: 1024px) {
	    .nav {
	    	position: relative;
	    	display: inline-block;
	    	vertical-align: middle;
	    	height: 100%;
	    	top: 0;
	    	width: auto;
	    	background-color: transparent;
	    	left: 0;
	    }
		    .nav-wrp .nav-unit { 
				float: left;
				width: 109px;
				height: 100%;
				transform-origin:bottom;
				vertical-align: top;
				top: 0;
				text-align: center;
				padding: 0;
				transform: skew(-12.3deg) rotate(0) translateZ(0);
				background: transparent;
				display: flex;
				justify-content: center;
				align-content: center;
				flex-direction: row;
				display: -webkit-flex;
				-webkit-justify-content: center;
				-webkit-align-content: center;
				-webkit-flex-direction: row;
				font-size: 0.9375rem;
				letter-spacing: 1px;
				

			}
			.nav-wrp .nav-unit:hover {
				
			}

			    /* 外層連結 */

			    .nav-unit .basic-text {
			    	width: 100%;
			    	height: 100%;
			    	position: absolute;
			    	top: 0;
			    	left: 0;
			    	background-color: transparent;
			    	z-index: 3;
			    	transform: skew(0deg);
			    }


			    /* 中層文字 */

	            .nav-unit span {
                    position: relative;
			    	display: flex;
			    	justify-content: center;
					align-content: center;
					flex-direction: column;
			    	z-index: 1;
			    	transform: skew(12.3deg);
			    	color: #595757;
			    	font-weight: 600;
			    	padding-top: 1.7em;
		        }
		        
		        .nav-unit:hover span {
		    		font-size: 1.47rem;
		    		transform: skew(0);
		    		font-weight: 500;
		    		color: #fff;
		    		padding-top: 1em;
		    		width: 100%;
		    		text-align: center;
		        }

		        .scrolldown .nav-unit:hover span {
		        	padding-top: 0;
		        }

		        .nav-unit.nav-unit_5 span {
			    	color: #d8285b;
			    }
			    .nav-unit.nav-unit_5:hover span {
			    	color: #fff100;
			    }
			  
		        
                /* 底層圖色 */

		        .nav-color-bg {
			    	position: absolute;
			    	display: flex;
			    	width: 1%;
			    	height: 1%;
			    	top: -3px;
			    	bottom: 0;
			    	left: 0;
			    	right: 0;
			    	margin: auto;
			    	transition: all .5s cubic-bezier(.01,1.41,.5,1);
			    	z-index: -1;
			    	overflow: hidden;
			    	
			    }
			    .nav-unit_1 .nav-color-bg {
					background-color: #f6b42d;
				}
				.nav-unit_2 .nav-color-bg {	
					background-color: #d8392b;
				}
				.nav-unit_3 .nav-color-bg {
					background-color: #b71c22;
				}
				.nav-unit_4 .nav-color-bg {
					background-color: #e3007f;
				}
				.nav-unit_5 .nav-color-bg {
					background-color: #036eb8;
				}
				.nav-unit:hover .nav-color-bg {
			    	width: 100%;
			    	height: 100%;
			    	transform: skew(0deg);
			    	box-shadow: 2px -1px 7px #797575;
			    	
                     
			    }

			    /* 電腦版箭頭 */

                .nav-unit .fa {
                    color: #fff;
                    position: absolute;
                    bottom: 0.65rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    display: block;
                    z-index: 2;
                    transform: skew(0deg);
                    font-size: 1.3rem;
		        }
		        .nav-unit:hover .fa {
		        	opacity: 1;
		        }
		        .scrolldown .nav-unit:hover .fa {
		        	bottom: 0.35rem;
		        }

		        .nav-unit.nav-unit_5:hover .fa {
		        	color: #fff100;
		        }                    
                    

	}
   
	@media only screen and (min-width: 1280px) {
	    
	}
	

    /**
     *
     * footer
     * 
     */
    
    .footer {
    	background-color: #7a1134;
    	position: relative;
    	z-index: 996;
    	-webkit-display: flex;
    	-webkit-align-items: stretch;
		-webkit-flex-direction: column;
		-webkit-justify-content: flex-start;
    	display: flex;
    	align-items: stretch;
		flex-direction: column;
		justify-content: flex-start;
		color: #ff398a;
		line-height: 2.5;
		font-size: 0.8375rem;
		padding: 2rem 0;
    }
    .hid .footer {
	    
	}
        .ft-logo {
        	margin: 0;
        	text-align: center;
        	padding: 0 2rem 1rem;
        }
            .ft-logo a, .ft-logo img {
	        	width: 100%;
	        	max-width: 288px;
	        }
        .ft-nav {
        	display: none;
        }
	        .ft-nav ul {
	        	-webkit-display: flex;
		    	-webkit-align-items: stretch;
				-webkit-flex-direction: column;
				-webkit-justify-content: space-around;
		    	display: flex;
		    	align-items: stretch;
				flex-direction: column;
				justify-content: space-around;
				line-height: 2.5;
				letter-spacing: 2px;
	        }
        .ft-about {
        	-webkit-display: flex;
	    	-webkit-align-content: center;
			-webkit-flex-direction: column;
			-webkit-justify-content: center;
	    	display: flex;
	    	align-content: center;
			flex-direction: column;
			justify-content: center;
            line-height: 1.414;
            text-align: center;
        }
            .about-unit {
            	-webkit-display: flex;
                -webkit-align-items: center;
				-webkit-flex-direction: column;
				-webkit-justify-content: center;
		    	display: flex;
		    	align-items: center;
				flex-direction: column;
				justify-content: center;
            }
            .about-unit p {
            	line-height: 2;
            }
            .ft-about p {
            	margin-bottom: 1rem;
            }
            .ft-about span {
            	display: block;
            }
            .ft-about span.ft-ogborder {
            	

            }
            
            .about-organizer {
                -webkit-display: flex;
                -webkit-align-items: center;
				-webkit-flex-direction: column;
				-webkit-justify-content: center;
		    	display: flex;
		    	align-items: center;
				flex-direction: column;
				justify-content: center;
            }
            .ft-unit p.about-copyright {
            	font-size: 0.75rem;
            	margin-bottom: 0;
            }


    @media only screen and (min-width: 1024px) {
	    .footer {
	    	-webkit-align-items: stretch;
			-webkit-flex-direction: row;
			-webkit-justify-content: center;
	    	align-items: stretch;
			flex-direction: row;
			justify-content: center;
			line-height: 2.5;
			font-size: .8725rem;
			height: 350px;
			padding: 0;
	    }
	        .ft-logo {
	        	padding: 1rem 0 0;
	        }
	        .footer a:hover {
	        	color: #ff5b9e;
	        }
		    .ft-unit {
	        	padding: 2rem;
	        }
		    .ft-nav {
	        	display: block;
	        }
	        .ft-about {
	        	-webkit-display: flex;
			    -webkit-align-items: stretch;
			    -webkit-flex-direction: column;
			    -webkit-justify-content: flex-start;
	    	    display: flex;
			    align-items: stretch;
			    flex-direction: column;
			    justify-content: flex-start;
	            text-align: left;
	            position: relative;
	        }
	            .about-organizer {
	                -webkit-align-items: flex-start;
			    	align-items: flex-start;
			    	
	            }
		            .about-unit {
		            	-webkit-display: flex;
		                -webkit-align-items: flex-start;
						-webkit-flex-direction: row;
						-webkit-justify-content: flex-start;
				    	display: flex;
				    	align-items: flex-start;
						flex-direction: row;
						justify-content: flex-start;

		            }
			            .about-unit p {
			            	-webkit-display: flex;
			                -webkit-align-items: flex-start;
							-webkit-flex-direction: column;
							-webkit-justify-content: center;
					    	display: flex;
					    	align-items: flex-start;
							flex-direction:column;
							justify-content: center;
							line-height: 2.4;
							margin-bottom: 0;
			            }
		            
			            .about-unit p span.ft-ogborder {
			            	line-height: 1.5;
			            	margin: 0.45rem 1rem 0.45rem 0;
			            	padding: 0 1rem 0 0;
			            	border-right: 1px solid #ff398a;
			            }

			        .ft-unit p.about-copyright {
		            	font-size: 0.75rem;
		            	position: absolute;
                        bottom: 1rem;
		            }



	            .ft-about span.ogmain, .ft-about span.ogmain + span {
	            	left: 0;
	            }
	            .ft-about span.mb-next {
	            	display: inline;
	            	position: relative;
	            	left: 0;
	            }
	            

	}